PORT=8000
NODE_ENV="development"
DB_HOST="localhost"
DB_NAME="test-db"
DB_USERNAME="postgres"
DB_PASSWORD="postgres"
DB_CLIENT="pg"
JWT_SECRET="test-secret"
FRONTEND_CLIENT="http://localhost:3000/"
CRON_JOB_VERIFY_LICENCES_TIME=19
